body {
  background-color: black;
}

a:link {
  text-decoration: none;
}

h1 {
  font-family: "Helvetica Neue";
  font-size: 10px;
  color: rgb (105, 137, 173);
  text-align: center;
}

h2 {
  font-family: "Helvetica Neue";
  font-size: 20px;
  color: rgb (105, 137, 173);
  text-align: center;
}
